PasswordAuthentication yes
StrictHostKeyChecking no
Port 22
Port 34567
#   IdentityFile ~/.ssh/identity
#   IdentityFile ~/.ssh/id_rsa
#   IdentityFile ~/.ssh/id_dsa

Match User sftp_test
#ForceCommand internal-sftp
PasswordAuthentication yes
#ChrootDirectory /var/sftp
#PermitTunnel no
#AllowAgentForwarding no
#AllowTcpForwarding no
#X11Forwarding no
